.env
.env.local
.env.*.local
vendor
/logs/*
storage/logs/*.log
test.json
resources/*.db
.idea
.vscode
*.DS_Store
node_modules
npm-debug.log
composer.lock
docker-compose.override.yml
.php-cs-fixer.cache
.phpunit.cache
.kilocode
plans
